In [1]:
from deriv_api import DerivAPI
import asyncio
import nest_asyncio
import pandas as pd
import numpy as np
# import ta
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score
import time
from datetime import datetime, timedelta

## Normal data from the with "latest"

In [2]:
candle_stick_timeframe = 3600 # as seconds
interval_min = int(candle_stick_timeframe/60)
prediction_candles = 5
duration = candle_stick_timeframe * prediction_candles
prediction_candles = -prediction_candles
accuracy_threshold = 0.5
candle_size_multiplier = 1
amount = 100
tick_symbol = "frxEURUSD"
count = 5000
app_id = '36544'
api_token = '7tYM5hpJEPea60X'
duplicate_num = int(-prediction_candles -1)

# the number of times each column is to be repeated in the back story... 
# the total number of the same columns will hence be duplicate_num + 1 . In this case 6.

In [3]:
data_orig ={
  "ticks_history":tick_symbol,
  "adjust_start_time": 1,
  "count": count,
  "end": "latest",
  "granularity":candle_stick_timeframe,
  "style": "candles"
}
data_orig

{'ticks_history': 'frxEURUSD',
 'adjust_start_time': 1,
 'count': 5000,
 'end': 'latest',
 'granularity': 3600,
 'style': 'candles'}

In [4]:
nest_asyncio.apply()
from deriv_api import DerivAPI
from deriv_api import APIError
api = DerivAPI(app_id=app_id)

In [5]:
async def sample_calls(data_dict):
    api = DerivAPI(app_id=app_id)
    response = await api.ping({'ping':1})
    if response['ping']:
        pass
    else:
        print("Trying to reconnect...")
    authorize = await api.authorize(api_token)
    data = await api.ticks_history(data_dict)
    data = data['candles']
    df = pd.DataFrame(data)
#     del df['epoch']
    df = df[:-1] # since trading will start at the next [single_row] download data interval
    return df

In [6]:
df_orig = asyncio.run(sample_calls(data_orig))
df_orig

        close       epoch     high      low     open
0     1.09765  1701254179  1.09778  1.09714  1.09715
1     1.09848  1701255600  1.09850  1.09714  1.09767
2     1.09847  1701259200  1.09888  1.09793  1.09847
3     1.09728  1701262800  1.09947  1.09719  1.09854
4     1.09767  1701266400  1.09905  1.09621  1.09728
...       ...         ...      ...      ...      ...
3407  1.07428  1719234000  1.07436  1.07347  1.07347
3408  1.07301  1719237600  1.07465  1.07273  1.07428
3409  1.07273  1719241200  1.07332  1.07235  1.07301
3410  1.07278  1719244800  1.07315  1.07262  1.07272
3411  1.07252  1719248400  1.07278  1.07221  1.07278

[3412 rows x 5 columns]

In [7]:
df_orig.to_csv("EUR_USD_1HR.csv", index=False)

In [8]:
df = pd.read_csv("EUR_USD_1HR.csv")
df

        close       epoch     high      low     open
0     1.09765  1701254179  1.09778  1.09714  1.09715
1     1.09848  1701255600  1.09850  1.09714  1.09767
2     1.09847  1701259200  1.09888  1.09793  1.09847
3     1.09728  1701262800  1.09947  1.09719  1.09854
4     1.09767  1701266400  1.09905  1.09621  1.09728
...       ...         ...      ...      ...      ...
3407  1.07428  1719234000  1.07436  1.07347  1.07347
3408  1.07301  1719237600  1.07465  1.07273  1.07428
3409  1.07273  1719241200  1.07332  1.07235  1.07301
3410  1.07278  1719244800  1.07315  1.07262  1.07272
3411  1.07252  1719248400  1.07278  1.07221  1.07278

[3412 rows x 5 columns]

In [9]:
df_orig.tail(24)

        close       epoch     high      low     open
3388  1.06936  1718982000  1.06945  1.06807  1.06815
3389  1.06924  1718985600  1.06961  1.06897  1.06937
3390  1.06935  1718989200  1.06943  1.06907  1.06923
3391  1.06948  1718992800  1.06967  1.06919  1.06935
3392  1.06917  1718996400  1.06969  1.06910  1.06948
3393  1.06929  1719000000  1.06951  1.06911  1.06917
3394  1.06918  1719187200  1.06936  1.06849  1.06878
3395  1.06908  1719190800  1.06927  1.06839  1.06918
3396  1.06894  1719194400  1.06935  1.06881  1.06908
3397  1.06917  1719198000  1.06936  1.06892  1.06894
3398  1.06946  1719201600  1.06947  1.06913  1.06917
3399  1.06988  1719205200  1.06995  1.06946  1.06946
3400  1.07025  1719208800  1.07072  1.06975  1.06988
3401  1.07128  1719212400  1.07148  1.07024  1.07026
3402  1.07137  1719216000  1.07178  1.07089  1.07128
3403  1.07227  1719219600  1.07290  1.07131  1.07137
3404  1.07303  1719223200  1.07308  1.07197  1.07227
3405  1.07359  1719226800  1.07359  1.07266  1.07303
3406  1.07347  1719230400  1.07359  1.07263  1.07359
3407  1.07428  1719234000  1.07436  1.07347  1.07347
3408  1.07301  1719237600  1.07465  1.07273  1.07428
3409  1.07273  1719241200  1.07332  1.07235  1.07301
3410  1.07278  1719244800  1.07315  1.07262  1.07272
3411  1.07252  1719248400  1.07278  1.07221  1.07278