### Imports

In [1]:
from deriv_api import DerivAPI
import asyncio
import nest_asyncio
import pandas as pd
import numpy as np
import ta
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import time
from datetime import datetime, timedelta
from IPython.display import clear_output

## Constants

In [2]:
candle_stick_timeframe = 60 # as seconds
interval_min = int(candle_stick_timeframe/60)
prediction_candles = 10
duration = candle_stick_timeframe * prediction_candles
prediction_candles = -prediction_candles
accuracy_threshold = 0.5
candle_size_multiplier = 3
amount = 100
tick_symbol = "R_10"
count = 5000
data_dict ={
  "ticks_history":tick_symbol,
  "adjust_start_time": 1,
  "count": count,
  "end": "latest",
  "granularity":candle_stick_timeframe,
  "style": "candles"
}
app_id = '36544'
api_token = '7tYM5hpJEPea60X'
duplicate_num = int(-prediction_candles -1)
# the number of times each column is to be repeated in the back story... 
# the total number of the same columns will hence be duplicate_num + 1 . In this case 6.

### Initialisation

In [3]:
nest_asyncio.apply()
from deriv_api import DerivAPI
from deriv_api import APIError
api = DerivAPI(app_id=app_id)

### Download the data
Download the data once and train the model, the next data is only downloaded as 2 rows only and appended to already existing dataset for feature extraction and transformation

In [4]:
async def sample_calls():
    api = DerivAPI(app_id=app_id)
    response = await api.ping({'ping':1})
    if response['ping']:
        pass
    else:
        print("Trying to reconnect...")
    authorize = await api.authorize(api_token)
    data = await api.ticks_history(data_dict)
    data = data['candles']
    df = pd.DataFrame(data)
    del df['epoch']
    df = df[:-1] # since trading will start at the next [single_row] download data interval
    return df

In [ ]:
df = pd.read_csv("ETH_USD_1HR.csv")
del df.epoch
df

In [6]:
data_history = df.copy()
data_history

         close      high       low      open
0     6289.707  6289.790  6288.184  6288.338
1     6290.081  6290.432  6289.495  6289.495
2     6289.620  6290.157  6289.554  6289.892
3     6290.936  6290.936  6289.434  6289.434
4     6291.486  6291.757  6290.741  6290.970
...        ...       ...       ...       ...
4994  6249.170  6250.376  6248.852  6250.297
4995  6248.726  6249.348  6248.721  6248.988
4996  6248.770  6249.442  6248.584  6248.864
4997  6247.103  6248.658  6247.103  6248.536
4998  6247.324  6248.181  6247.171  6247.171

[4999 rows x 4 columns]

## Feature Engineering
Here we introduce all the features we need (indicators, std, price action etc..)
* roc
* willims r indicator
* ATr
* cci
* stddev
* Aroon
* ema_9
* ema_20
* ema_50,
* ADX,
* RSI
* Candle size

### Trend Indicators
* EMA_9, EMA_20, EMA_50, Aroon indicator, adx indicator, cci indicator,

In [7]:
ema_9 = ta.trend.EMAIndicator(close=df['close'], window=9)
ema_20 = ta.trend.EMAIndicator(close=df['close'], window=20)
ema_50 = ta.trend.EMAIndicator(close=df['close'], window=50)
df = df.assign(ema_9 = ema_9.ema_indicator())
df = df.assign(ema_20 = ema_20.ema_indicator())
df = df.assign(ema_50 = ema_50.ema_indicator())
aroon = ta.trend.AroonIndicator(high=df['high'], low=df['low'], window=14).aroon_indicator()
df = df.assign(aroon=aroon)
adx = ta.trend.ADXIndicator(high=df['high'],low=df['low'], close=df['close'], window=14).adx()
df = df.assign(adx=adx)
cci = ta.trend.CCIIndicator(high=df['high'], low=df['low'], close=df['close'], window=14).cci()
df = df.assign(cci=cci)

### Momentum Indicators
* Rsi, candle size, ROC,Williams %r

In [8]:
candle_size = abs(df['close'] - df['open'])
df = df.assign(candle_size=candle_size)
rsi_value = ta.momentum.RSIIndicator(close=df['close'], window=14)
df = df.assign(rsi = rsi_value.rsi())
roc = ta.momentum.ROCIndicator(close=df['close'], window=5).roc()
df = df.assign(roc=roc)
williams = ta.momentum.WilliamsRIndicator(high=df['high'], low=df['low'], close=df['close'], lbp=14).williams_r()
df = df.assign(williams = williams)

## Volatility Indicators
* ATR indicator, BOllinger Bands Parameters,

In [9]:
atr = ta.volatility.AverageTrueRange(high=df['high'],
                                     low=df['low'], 
                                     close=df['close'],
                                     window=14).average_true_range()
df = df.assign(atr=atr)
bol_width = ta.volatility.BollingerBands(close=df['close'], window=20, window_dev=2).bollinger_wband()
df = df.assign(bol_width=bol_width)
bol_above = ta.volatility.BollingerBands(close=df['close'], window=20, window_dev=2).bollinger_hband_indicator()
df = df.assign(bol_above=bol_above)
bol_below = ta.volatility.BollingerBands(close=df['close'], window=20, window_dev=2).bollinger_lband_indicator()
df = df.assign(bol_below=bol_below)
average_candle_size = df['candle_size'].rolling(window=14).mean()
df = df.assign(average_candle_size = average_candle_size)
df

,close,high,low,open,ema_9,ema_20,ema_50,aroon,adx,cci,candle_size,rsi,roc,williams,atr,bol_width,bol_above,bol_below,average_candle_size
0,6289.707,6289.790,6288.184,6288.338,NaN,NaN,NaN,NaN,0.000000,NaN,1.369,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
1,6290.081,6290.432,6289.495,6289.495,NaN,NaN,NaN,NaN,0.000000,NaN,0.586,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
2,6289.620,6290.157,6289.554,6289.892,NaN,NaN,NaN,NaN,0.000000,NaN,0.272,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
3,6290.936,6290.936,6289.434,6289.434,NaN,NaN,NaN,NaN,0.000000,NaN,1.502,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
4,6291.486,6291.757,6290.741,6290.970,NaN,NaN,NaN,NaN,0.000000,NaN,0.516,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,6249.170,6250.376,6248.852,6250.297,6251.456614,6252.998300,6254.638520,-100.000000,25.334144,-127.174063,1.127,27.205164,-0.055560,-95.709081,1.226591,0.145148,0.0,1.0,0.690571
4995,6248.726,6249.348,6248.721,6248.988,6250.910491,6252.591414,6254.406656,-100.000000,27.202831,-119.260368,0.262,26.004489,-0.049394,-99.933581,1.183763,0.160443,0.0,0.0,0.691929
4996,6248.770,6249.442,6248.584,6248.864,6250.482393,6252.227470,6254.185611,-92.857143,28.999358,-100.761408,0.094,26.351380,-0.022527,-97.573386,1.160494,0.171681,0.0,0.0,0.620643
4997,6247.103,6248.658,6247.103,6248.536,6249.806514,6251.739425,6253.907861,-100.000000,31.248974,-120.020657,1.433,22.120341,-0.045536,-100.000000,1.196673,0.190663,0.0,0.0,0.702857
4998,6247.324,6248.181,6247.171,6247.171,6249.310012,6251.318909,6253.649671,-92.857143,33.337904,-107.541768,0.153,23.865624,-0.045967,-97.404275,1.188197,0.198805,0.0,0.0,0.704857

In [10]:
dif = df.copy()
dif

,close,high,low,open,ema_9,ema_20,ema_50,aroon,adx,cci,candle_size,rsi,roc,williams,atr,bol_width,bol_above,bol_below,average_candle_size
0,6289.707,6289.790,6288.184,6288.338,NaN,NaN,NaN,NaN,0.000000,NaN,1.369,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
1,6290.081,6290.432,6289.495,6289.495,NaN,NaN,NaN,NaN,0.000000,NaN,0.586,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
2,6289.620,6290.157,6289.554,6289.892,NaN,NaN,NaN,NaN,0.000000,NaN,0.272,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
3,6290.936,6290.936,6289.434,6289.434,NaN,NaN,NaN,NaN,0.000000,NaN,1.502,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
4,6291.486,6291.757,6290.741,6290.970,NaN,NaN,NaN,NaN,0.000000,NaN,0.516,NaN,NaN,NaN,0.000000,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,6249.170,6250.376,6248.852,6250.297,6251.456614,6252.998300,6254.638520,-100.000000,25.334144,-127.174063,1.127,27.205164,-0.055560,-95.709081,1.226591,0.145148,0.0,1.0,0.690571
4995,6248.726,6249.348,6248.721,6248.988,6250.910491,6252.591414,6254.406656,-100.000000,27.202831,-119.260368,0.262,26.004489,-0.049394,-99.933581,1.183763,0.160443,0.0,0.0,0.691929
4996,6248.770,6249.442,6248.584,6248.864,6250.482393,6252.227470,6254.185611,-92.857143,28.999358,-100.761408,0.094,26.351380,-0.022527,-97.573386,1.160494,0.171681,0.0,0.0,0.620643
4997,6247.103,6248.658,6247.103,6248.536,6249.806514,6251.739425,6253.907861,-100.000000,31.248974,-120.020657,1.433,22.120341,-0.045536,-100.000000,1.196673,0.190663,0.0,0.0,0.702857
4998,6247.324,6248.181,6247.171,6247.171,6249.310012,6251.318909,6253.649671,-92.857143,33.337904,-107.541768,0.153,23.865624,-0.045967,-97.404275,1.188197,0.198805,0.0,0.0,0.704857

In [11]:
for column in dif.columns: # shift 1,2,3,4
    num = list(range(1,duplicate_num+1))
    new_columns = {}
    for n in num:
        new_column_name = f"{column}_{n}"
        # Assign the shifted values to the new column name in the dictionary
        new_columns[new_column_name] = df[column].shift(n)
        df = df.assign(**new_columns)

In [12]:
df.tail()

,close,high,low,open,ema_9,ema_20,ema_50,aroon,adx,cci,...,bol_below_9,average_candle_size_1,average_candle_size_2,average_candle_size_3,average_candle_size_4,average_candle_size_5,average_candle_size_6,average_candle_size_7,average_candle_size_8,average_candle_size_9
4994,6249.170,6250.376,6248.852,6250.297,6251.456614,6252.998300,6254.638520,-100.000000,25.334144,-127.174063,...,0.0,0.670929,0.697500,0.836286,0.780786,0.747714,0.672929,0.620929,0.645714,0.633571
4995,6248.726,6249.348,6248.721,6248.988,6250.910491,6252.591414,6254.406656,-100.000000,27.202831,-119.260368,...,0.0,0.690571,0.670929,0.697500,0.836286,0.780786,0.747714,0.672929,0.620929,0.645714
4996,6248.770,6249.442,6248.584,6248.864,6250.482393,6252.227470,6254.185611,-92.857143,28.999358,-100.761408,...,0.0,0.691929,0.690571,0.670929,0.697500,0.836286,0.780786,0.747714,0.672929,0.620929
4997,6247.103,6248.658,6247.103,6248.536,6249.806514,6251.739425,6253.907861,-100.000000,31.248974,-120.020657,...,0.0,0.620643,0.691929,0.690571,0.670929,0.697500,0.836286,0.780786,0.747714,0.672929
4998,6247.324,6248.181,6247.171,6247.171,6249.310012,6251.318909,6253.649671,-92.857143,33.337904,-107.541768,...,1.0,0.702857,0.620643,0.691929,0.690571,0.670929,0.697500,0.836286,0.780786,0.747714

## Calculate the target class

In [13]:
prediction_candles

-10

In [14]:
# predicted_price = df['close'].shift(prediction_candles)
# df = df.assign(predicted_price = predicted_price)

In [15]:
# target = np.where(
#     df['predicted_price'] > (df['close'] + df['average_candle_size'] * candle_size_multiplier), 1,
#     np.where(df['predicted_price'] < (df['close'] - df['average_candle_size'] * candle_size_multiplier), 0, 2)
# )
# target

In [16]:
# df.Target_1.value_counts()

In [17]:
predicted_price = df['close'].shift(prediction_candles)
df = df.assign(predicted_price = predicted_price)
df = df.dropna()
target = np.where(
    df['predicted_price'] > (df['close'] + df['average_candle_size'] * candle_size_multiplier), 1,
    np.where(df['predicted_price'] < (df['close'] - df['average_candle_size'] * candle_size_multiplier), 0, 2)
)
del df['predicted_price']
df = df.assign(target=target)
df

,close,high,low,open,ema_9,ema_20,ema_50,aroon,adx,cci,...,average_candle_size_1,average_candle_size_2,average_candle_size_3,average_candle_size_4,average_candle_size_5,average_candle_size_6,average_candle_size_7,average_candle_size_8,average_candle_size_9,target
58,6293.918,6294.268,6293.615,6293.690,6293.180518,6292.539122,6291.196690,-21.428571,28.388899,60.504493,...,0.818286,0.798500,0.915286,0.949429,0.870286,0.862857,0.903429,0.947500,0.935286,1
59,6293.803,6294.136,6293.094,6293.680,6293.305014,6292.659491,6291.298898,-21.428571,27.944967,36.625465,...,0.806429,0.818286,0.798500,0.915286,0.949429,0.870286,0.862857,0.903429,0.947500,1
60,6293.717,6293.942,6293.219,6293.788,6293.387411,6292.760207,6291.393725,-21.428571,27.532744,39.603556,...,0.776643,0.806429,0.818286,0.798500,0.915286,0.949429,0.870286,0.862857,0.903429,1
61,6294.433,6294.984,6293.461,6293.721,6293.596529,6292.919520,6291.512913,-21.428571,27.755695,108.495470,...,0.685071,0.776643,0.806429,0.818286,0.798500,0.915286,0.949429,0.870286,0.862857,1
62,6296.152,6296.152,6294.527,6294.527,6294.107623,6293.227375,6291.694838,85.714286,28.538513,190.905635,...,0.694857,0.685071,0.776643,0.806429,0.818286,0.798500,0.915286,0.949429,0.870286,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,6255.531,6255.796,6255.081,6255.406,6255.438152,6255.418549,6255.973170,57.142857,16.451637,29.442287,...,0.667286,0.652643,0.635286,0.669071,0.635000,0.674214,0.541214,0.561714,0.556786,0
4985,6254.723,6255.323,6254.572,6255.234,6255.295121,6255.352306,6255.924144,57.142857,15.977339,-46.041294,...,0.602500,0.667286,0.652643,0.635286,0.669071,0.635000,0.674214,0.541214,0.561714,0
4986,6253.932,6254.902,6253.892,6254.869,6255.022497,6255.217039,6255.846021,50.000000,16.222793,-123.732819,...,0.633571,0.602500,0.667286,0.652643,0.635286,0.669071,0.635000,0.674214,0.541214,0
4987,6254.999,6255.617,6254.140,6254.140,6255.017798,6255.196273,6255.812804,42.857143,15.533029,-46.476402,...,0.645714,0.633571,0.602500,0.667286,0.652643,0.635286,0.669071,0.635000,0.674214,0
4988,6253.914,6254.762,6253.613,6254.762,6254.797038,6255.074152,6255.738341,-64.285714,15.417636,-129.572622,...,0.620929,0.645714,0.633571,0.602500,0.667286,0.652643,0.635286,0.669071,0.635000,0

In [18]:
x = df.drop(['target'], axis =1)
y = df['target']
# ext_data = x.loc[[544]]
# # y_external = y.loc[[544]]
# # y_external
# ext_data

In [19]:
random_state = 1
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=1)
model = RandomForestClassifier(n_estimators=1000, random_state=1) # keep it 100 for faster execution
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=1000, random_state=1)

In [20]:
y_pred = model.predict(x_test)
acc = accuracy_score(y_test, y_pred)
acc

0.7578520770010132

In [21]:
# model.predict(ext_data)

In [22]:
# model.predict_proba(ext_data)

In [23]:
y_probab = model.predict_proba(x_test)
compare = pd.DataFrame(y_probab)
new_x = np.where(y_probab[:, 0] >= accuracy_threshold, 1, 0)
new_y = np.where(y_probab[:, 1] >= accuracy_threshold, 1, 0)
true_value = np.array(y_test)
compare = compare.assign(new_x=new_x)
compare = compare.assign(new_y=new_y)
compare = compare.assign(true_value=true_value)
fall_value = compare['new_x'].value_counts()[1]
rise_value = compare['new_y'].value_counts()[1]
tp_n = np.sum((y_test==1) &(new_y==1))
tp = tp_n/rise_value * 100
tn_n = np.sum((y_test==0) & (new_x ==1))
tn = tn_n/fall_value * 100

In [24]:
compare

         0      1      2  new_x  new_y  true_value
0    0.120  0.291  0.589      0      0           1
1    0.249  0.143  0.608      0      0           2
2    0.123  0.113  0.764      0      0           2
3    0.221  0.095  0.684      0      0           2
4    0.130  0.170  0.700      0      0           2
..     ...    ...    ...    ...    ...         ...
982  0.048  0.606  0.346      0      1           1
983  0.275  0.152  0.573      0      0           2
984  0.098  0.130  0.772      0      0           2
985  0.233  0.135  0.632      0      0           2
986  0.081  0.238  0.681      0      0           2

[987 rows x 6 columns]

In [25]:
rise_value, fall_value

(19, 27)

In [26]:
print("Number of all signals/All Candles Received: ",len(y_pred))
print(f"Number of all CALLE Trade Taken: {rise_value} Number of Correct Trades: {tp_n}")
print(f"Number of PUTE trades Taken: {fall_value} Number of correct trades: {tn_n}")
print("Total Number of Trades Takesn: ", tn_n + tp_n)
print("Percentage of candles traded: ",(tn_n+tp_n)/len(y_pred)*100)
print("Model Accuracy is: ",acc)
print("Rise Accuracy is: ",tp)
print("Fall Accuracy is: ", tn)

Number of all signals/All Candles Received:  987
Number of all CALLE Trade Taken: 19 Number of Correct Trades: 18
Number of PUTE trades Taken: 27 Number of correct trades: 27
Total Number of Trades Takesn:  45
Percentage of candles traded:  4.5592705167173255
Model Accuracy is:  0.7578520770010132
Rise Accuracy is:  94.73684210526315
Fall Accuracy is:  100.0

In [27]:
strategy_accuracy = (tp*rise_value + tn * fall_value)/(rise_value+fall_value)
strategy_accuracy

97.82608695652173

### Deployment
* Stream just two rows of data, add the last row to first_copy data, then transform the data to fully form.
* Take the last row as the new data to predicted in a new variable

In [28]:
def apply_indicators(df):
    ema_9 = ta.trend.EMAIndicator(close=df['close'], window=9)
    ema_20 = ta.trend.EMAIndicator(close=df['close'], window=20)
    ema_50 = ta.trend.EMAIndicator(close=df['close'], window=50)
    df = df.assign(ema_9 = ema_9.ema_indicator())
    df = df.assign(ema_20 = ema_20.ema_indicator())
    df = df.assign(ema_50 = ema_50.ema_indicator())
    aroon = ta.trend.AroonIndicator(high=df['high'], low=df['low'], window=14).aroon_indicator()
    df = df.assign(aroon=aroon)
    adx = ta.trend.ADXIndicator(high=df['high'],low=df['low'], close=df['close'], window=14).adx()
    df = df.assign(adx=adx)
    cci = ta.trend.CCIIndicator(high=df['high'], low=df['low'], close=df['close'], window=14).cci()
    df = df.assign(cci=cci)
    candle_size = abs(df['close'] - df['open'])
    df = df.assign(candle_size=candle_size)
    rsi_value = ta.momentum.RSIIndicator(close=df['close'], window=14)
    df = df.assign(rsi = rsi_value.rsi())
    roc = ta.momentum.ROCIndicator(close=df['close'], window=5).roc()
    df = df.assign(roc=roc)
    williams = ta.momentum.WilliamsRIndicator(high=df['high'], low=df['low'], close=df['close'], lbp=14).williams_r()
    df = df.assign(williams = williams)
    atr = ta.volatility.AverageTrueRange(high=df['high'],
                                     low=df['low'], 
                                     close=df['close'],
                                     window=14).average_true_range()
    df = df.assign(atr=atr)
    bol_width = ta.volatility.BollingerBands(close=df['close'], window=20, window_dev=2).bollinger_wband()
    df = df.assign(bol_width=bol_width)
    bol_above = ta.volatility.BollingerBands(close=df['close'], window=20, window_dev=2).bollinger_hband_indicator()
    df = df.assign(bol_above=bol_above)
    bol_below = ta.volatility.BollingerBands(close=df['close'], window=20, window_dev=2).bollinger_lband_indicator()
    df = df.assign(bol_below=bol_below)
    average_candle_size = df['candle_size'].rolling(window=14).mean()
    df = df.assign(average_candle_size = average_candle_size)
    return df

In [29]:
data_dict ={
  "ticks_history":tick_symbol,
  "adjust_start_time": 1,
  "count": 2,
  "end": "latest",
  "granularity":candle_stick_timeframe,
  "style": "candles"
}

In [30]:
def external_data(data_history):
    df = asyncio.run(sample_calls())
#     print(df)
    if data_history[-1:].close.iloc[0] != df.close[0]:
        data_history = pd.concat([data_history, df], ignore_index=True)
        return data_history
    else:
        print("Same Data collected... Waiting for the next candle")
        return data_history

In [31]:
def process_new_data(df):
    df = apply_indicators(data_history)
    for column in dif.columns: # shift 1,2,3,4
        num = list(range(1,duplicate_num+1))
        new_columns = {}
        for n in num:
            new_column_name = f"{column}_{n}"
            # Assign the shifted values to the new column name in the dictionary
            new_columns[new_column_name] = df[column].shift(n)
            df = df.assign(**new_columns)
    return df[-1:]

### Buy and sell automation of trades

In [32]:
async def buy():
    proposal = await api.proposal({"proposal": 1, "amount": amount, "basis": "payout",
                                   "contract_type": "CALLE", "currency": "USD", "duration": duration, "duration_unit": "s",
                                   "symbol": tick_symbol
    })
#     print(proposal) 
    response = await api.ping({'ping':1})
    if response['ping']:
        pass
    else:
        print("Trying to reconnect...")
    authorize = await api.authorize(api_token)
    proposal_id = proposal.get('proposal').get('id')
    buy = await api.buy({"buy": proposal_id, "price": 100})

In [33]:
async def sell():
    proposal = await api.proposal({"proposal": 1, "amount": amount, "basis": "payout",
                                   "contract_type": "PUTE", "currency": "USD", "duration": duration, "duration_unit": "s",
                                   "symbol": tick_symbol
    })
#     print(proposal) 
    response = await api.ping({'ping':1})
    if response['ping']:
        pass
    else:
        print("Trying to reconnect...")
    authorize = await api.authorize(api_token)
    proposal_id = proposal.get('proposal').get('id')
    sell = await api.buy({"buy": proposal_id, "price": 100})

In [34]:
def get_next_interval(interval_minutes):
    now = datetime.now()
    # Calculate the next interval time
    next_time = (now + timedelta(minutes=interval_minutes)).replace(second=0, microsecond=0)
    next_time = next_time.replace(minute=(next_time.minute // interval_minutes) * interval_minutes)
    if next_time <= now:
        next_time += timedelta(minutes=interval_minutes)
    return next_time

In [35]:
def wait_until(target_time):
    while datetime.now() < target_time:
        time.sleep(1)

In [36]:
def deploy(interval_minutes=interval_min):
    while True:
        global data_history
        global ext_data
        next_run_time = get_next_interval(interval_minutes)
        wait_until(next_run_time)
        print("time to trade ...*******************")
        # put conditions to trade....
        data_history = external_data(data_history)
        ext_data = process_new_data(data_history)
        new_prediction = model.predict(ext_data)
        new_prediction_p = model.predict_proba(ext_data)
        if new_prediction[0] == 1 and new_prediction_p[0][1] >= accuracy_threshold:
            asyncio.run(buy())
            print("Buy condition initiated...")
        elif new_prediction[0] == 0 and new_prediction_p[0][0] >= accuracy_threshold:
            asyncio.run(sell())
            print("Sell Condition Initiated...")
        else:
            print("Suitable Market condition not yet found")
        print(new_prediction[0])
        print(new_prediction_p[0])
        print(ext_data.shape)
        print("******************")
        print(data_history[-1:])

In [37]:
try:
    deploy()  
    clear_output(wait=True)
except:
    print("Connection Failed... Wait until next candle")
    deploy()
    pass